<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="assets/materialize/css/materialize.min.css">
	<script src="assets/angular-wizard/css/angular-wizard.min.css"></script>
	<title>Configuration | CTA Maker</title>
</head>
<body ng-app="new_project">

	<div class="container" ng-controller="ConfigurationCtrl">
		<h3>Configuration</h3>
		<div class="row">
			<form class="col s12">
				<div class="input-field">
					<input type="text" id="app_name" class="validate">
					<label for="app_name">Donnez le nom de votre application</label>
				</div>
				<button class="btn aves-effect aves-light">Valider
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	<script src="assets/angular-wizard/js/angular-wizard.min.js"></script>
	<script src="js/new_project/app.js"></script>
	<script src="assets/materialize/js/materialize.min.js"></script>
</body>
</html>