<!-- views/double.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/Materialize/dist/css/materialize.min.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>

  <main>
    <!--<canvas id="canvas" width="500px" height="500px"></canvas>-->
    <form class="container">
      <h5>Choisissez les capteurs présents sur votre installation</h5>
      <div class="row">
        <div class="col s5">
          <input type="checkbox" id="temperature">
          <label for="temperature">Température</label>
        </div>
        <div class="col s7">
          <div id="div_temp" class="hide">
            <p>
              <input type="checkbox" id="temp_an">
              <label for="temp_an">Air Neuf</label>
            </p>
            <p>
              <input type="checkbox" id="temp_rep">
              <label for="temp_rep">Reprise</label>
            </p>
            <p>
              <input type="checkbox" id="temp_amb">
              <label for="temp_amb">Ambiance</label>
            </p>
            <p>
              <input type="checkbox" id="temp_mel">
              <label for="temp_mel">Mélange</label>
            </p>
            <p>
              <input type="checkbox" id="temp_ext">
              <label for="temp_ext">Extérieur</label>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col s5">
          <input type="checkbox" id="pression">
          <label for="pression">Pression</label>
        </div>
        <div class="col s7">
          <div id="div_press" class="hide">
            <p>
              <input type="checkbox" id="press_an">
              <label for="press_an">Air Neuf</label>
            </p>
            <p>
              <input type="checkbox" id="press_rep">
              <label for="press_rep">Reprise</label>
            </p>
            <p>
              <input type="checkbox" id="press_amb">
              <label for="press_amb">Ambiance</label>
            </p>
            <p>
              <input type="checkbox" id="press_mel">
              <label for="press_mel">Mélange</label>
            </p>
            <p>
              <input type="checkbox" id="press_ext">
              <label for="press_ext">Extérieur</label>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col s5">
          <input type="checkbox" id="hygro">
          <label for="hygro">Hygrometrie</label>
        </div>
        <div class="col s7">
          <div id="div_hygro" class="hide">
            <p>
              <input type="checkbox" id="hygro_an">
              <label for="hygro_an">Air Neuf</label>
            </p>
            <p>
              <input type="checkbox" id="hygro_rep">
              <label for="hygro_rep">Reprise</label>
            </p>
            <p>
              <input type="checkbox" id="hygro_amb">
              <label for="hygro_amb">Ambiance</label>
            </p>
            <p>
              <input type="checkbox" id="hygro_mel">
              <label for="hygro_mel">Mélange</label>
            </p>
            <p>
              <input type="checkbox" id="hygro_ext">
              <label for="hygro_ext">Extérieur</label>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

  <script src="/vendor/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/vendor/Materialize/dist/js/materialize.min.js" charset="utf-8"></script>
  <script src="/js/socket.io.js" charset="utf-8"></script>
  <script src="/js/draw_cta.js" charset="utf-8"></script>
  <script src="/js/app_double.js" charset="utf-8"></script>
</body>
</html>
