<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
    <% include includes/css_include.ejs %>
</head>
  <body>


  <% include includes/scripts_include.ejs %>
  </body>
</html>