<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>

  <main>

  </main>

  <footer>
    <% include partials/footer %>
  </footer>

  <script src="js/socket.io.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
</body>
</html>
