<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="assets/materialize/css/materialize.min.css">
	<script src="assets/angular-wizard/css/angular-wizard.min.css"></script>
	<title>Nouveau projet | CTA Maker</title>
</head>
<body ng-app="new_project">

	<div class="container" ng-controller="NewProjectCtrl">
		<h3>Nouveau projet</h3>
		<div class="row">
			<div class="col s3">
				<div class="card blue darken-1">
					<div class="card-content white-text">
						<span class="card-title">Configuration</span>
						<p></p>
					</div>
					<div class="card-action">
						<a href="configuration.html">Configuration</a>
					</div>
				</div>
			</div>
			<div class="col s3">
				<div class="card red darken-1">
					<div class="card-content white-text">
						<span class="card-title">Entrées</span>
						<p></p>
					</div>
					<div class="card-action"><a href="#inputs">Entrées</a></div>
				</div>
			</div>
			<div class="col s3">
				<div class="card orange darken-1">
					<div class="card-content white-text">
						<span class="card-title">Sorties</span>
						<p></p>
					</div>
					<div class="card-action"><a href="#outputs">Sorties</a></div>
				</div>
			</div>
			<div class="col s3">
				<div class="card green darken-1">
					<div class="card-content white-text">
						<span class="card-title">Régulation</span>
						<p></p>
					</div>
					<div class="card-action"><a href="#modes">Régulation</a></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	<script src="assets/angular-wizard/js/angular-wizard.min.js"></script>
	<script src="js/new_project/app.js"></script>
	<script src="assets/materialize/js/materialize.min.js"></script>
</body>
</html>